<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title>intravisti</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet"  type="text/css" media="screen"  href="/css/intra.css" /> 
  </head>

<body>
<img style="display:none" src="" id="bgimg" /> 
<div id="content"> 
    <div id='status-text'></div>
    <p id="indicator">Waiting for click</p>
    <p id="full-screen"></p>

  </div>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/ext.js"></script>
    <script type="text/javascript">

var gallery = {

    images: [],

    flickrGet: function (options) {
        settings = $.extend({
            flickr_resource_uri: "/photos/",
            tag: ""
        }, options);

        $.getJSON(settings.flickr_resource_uri + settings.tag, gallery.buildImageList);
    },

    buildImageList: function (data) {
        $.each(data.photos.photo, function (i, item) {
            gallery.images.push('http://farm' + item.farm + '.static.flickr.com/' + item.server + '/' + item.id + '_' + item.secret + '_m.jpg');
        });
        gallery.preloadImages(gallery.images);
    },

    preloadImages: function (images) {
        //console.log(images);
        $.preload(images, {
            init: function (loaded, total) {
                $("#indicator").html("Loaded: " + loaded + "/" + total);
                $("#full-screen").hide();
            },
            loaded: function (img, loaded, total) {
                $("#indicator").html("Loaded: " + loaded + "/" + total);
                $(img).addClass('resized');
                $("#full-screen").append(img);
            },
            loaded_all: function (loaded, total) {
                $("#indicator").html("Loaded: " + loaded + "/" + total + ". Done!");
                $('#bgimg').attr('src', gallery.images[0].split('_m.jpg').join('_b.jpg')).fadeIn();

                $('.resized').resize({
                    maxHeight: 150
                }).click(function (e) {

                    image_str = $(this).attr('src').split('_m.jpg').join('_b.jpg');
                    
                    $.preload([image_str], {
                        init: function (loaded, total) {
                            $("#indicator").html('Loading');
                        },
                        loaded: function (img, loaded, total) {
                            $('#bgimg').fadeOut(200, function() {
                              $(this).attr({'src':image_str}).fadeIn(500)
                            });
                            $("#indicator").html('Loaded');
                        },
                        loaded_all: function (loaded, total) {}
                    });

                });
                setTimeout("$(\"#full-screen\").fadeIn()",2250);

            }
        });

    },

    setupAjaxCallbacks: function () {
        $('body').ajaxStart(function () {
            $('#status-text').show().text("Loading...");
        });
        $('body').ajaxStop(function () {
            $('#status-text').fadeOut();
        });
        $('body').ajaxError(function (event, xhr, ajaxOptions, thrownError) {
            console.log("XHR Response: " + JSON.stringify(xhr));
        });

    }
};


$(function () {
    setTimeout("$(\"#bgimg\").fadeIn()",2250);
     gallery.setupAjaxCallbacks();
     gallery.flickrGet({
     tag: "<%=@tags%>,3g0ph0t0"
     });
});


      
    
    </script>

</body>
</html>


