!!! Strict
%html
  %head
    %title intravisti
    %link(rel="stylesheet" type="text/css" media="screen" href="/css/intra.css")

  %body
    %img#bgimg(style="display:none" src="")
    #content
      #status-text
      %p#indicator wait...
      %p#full-screen

    %script(src="/js/jquery.js")
    %script(src="/js/ext.js")
    %script(src="/js/app.js")



