!!! Strict
%html
  %head
    %title #{@title || 'intravisti'}
    %link(rel="stylesheet" type="text/css" media="screen" href="/css/intra.css")

  %body(class="#{@section || 'home'}")
    %img#loader( src="/images/ajax-loader.gif")
    %img#bgimg(style="display:none" src="#{@bg_image}")
    #pattern
    #left-column
      %img#logo(src="/images/logo.png")
      %ul#menu
        %li
          %a(href="/landscape") landscape
        %li
          %a(href="/travel") travel
        %li
          %a(href="/texture") texture
        %li
          %a(href="/portrait") portrait
        %li
          %a(href="/nature") nature 
    =yield

    %script(src="/js/jquery.js")
    %script(src="/js/ext.js")
    %script(src="/js/app.js")


