@font-face {
  font-family: 'Molengo';
  font-style: normal;
  font-weight: normal;
  src: local('Molengo'), url('/css/molengo.css') format('truetype');
}

img#bgimg {
min-height: 100%;
min-width: 1280px;
width: 100%;
height: auto;
position: fixed;
top: 0;
left: 0;
z-index:-9999;
}

div#pattern{
	min-height:100%;
	min-width:1024px;
	width:100%;
	height:auto;
	position:fixed;
	top:0;
	left:0;
  background-image:url('/images/bg.gif');
  display:none;
}
div#left-column{
  min-height:100%;
	width:325px;
	height:auto;
	position:fixed;
	top:0;
	left:0;
  background-image:url('/images/leftbg.png');
  display:none;
}
img#logo{
  position:fixed;
	top:30px;
	left:30px;
}
ul#menu{
  position:fixed;
	top:184px;
	left:30px;
  display:none;
}

	ul {list-style:none;margin:0;padding:0;}
	li {margin:15px 0 0;padding:0; display:block;}
	li a {
    padding:2px 6px 2px 6px;
    line-height:26px;
    color:#211d1a;
    text-decoration:none;
    font-family:'Molengo',arial,sans-serif;
	  line-height:16px;
	  font-size:16px;
    text-transform:capitalize;
    letter-spacing:2px;
  }
	li a {background:url('/images/bgmenu.png') repeat 0 0;}
	li a:hover, li a:focus, li a:active {background-position:-200px 0;color:#FFF;}

div#content {
	/* This is the only important rule */
	/* We need our content to show up on top of the background */
	position:relative;
	/* These have no effect on the functionality */
	width:500px;
	margin:0 auto;
	padding:20px;
	font-family:helvetica,arial,sans-serif;
	font-size:10pt;
	line-height:16pt;
}
img.resized {
	margin-left:5px;
	cursor:pointer;
	cursor:hand;
	-moz-box-shadow:#000 4px 4px 10px;
	-webkit-box-shadow: #000 4px 4px 10px;
}
body {
	/* These rules have no effect on the functionality */
	/* They are for styling only */
	margin:0;
	padding:20px 0 0 0;
	background-color:black;
}
img#loader {
	position:absolute;
	display:block;
	margin-top:-500px;
	z-index: 999;
}

